* {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1200px) {

.grid {
  display: grid;
  grid-template-columns: 2% 16% 40% 40% 2%;
  grid-template-rows: 10% 1fr 1fr;
}

.title {
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 3em;
}

.thumbnails {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
}

.thumb {
  height: 20%;
  width: 80%;
  border: 1px solid lightblue;
}

.main {
  height: 85%;
  width: 85%;
  grid-column-start: 3;
  grid-column-end: 4;
}

.description {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 2;
  z-index: 900;
  font-size: 1.5rem;
}

#overlay {
  z-index: 1000;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 2;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}
}

@media only screen and (min-width: 800px) and (max-width: 1199px){

.grid {
  display: grid;
  grid-template-columns: 2% 48% 48% 2%;
  grid-template-areas: 
  ". title title ."
  ". thumbnails main ." 
  ". description description ."
  ". video video ."
  ;
}

.title {
  grid-area: title;
  font-size: 3rem;
}

.thumbnails {
  grid-area: thumbnails;
  height: 70vh;
}

.thumb {
 height: 30%;
 width: 50%;
border: 1px solid lightblue;
}

.main {
  height: 90%;
  width: 100%;
  grid-area: main;
}

.description {
  grid-area: description;
  z-index: 900;
  font-size: 1.5rem;
}

#overlay {
  display: none;
  z-index: 1000;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 2;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}
}

@media only screen and (max-width: 799px){

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2% 1fr 2%;
  grid-template-areas: 
  ". title ."
  ". thumbnails ." 
  ". description ."
  ". video ."
  ;
}

.title {
  grid-area: title;
  font-size: 3rem;
}

.thumbnails {
  grid-area: thumbnails;
  text-align: center;
}

.thumb {
 height: 40%;
 width: 70%;
 border: 1px solid lightblue;
}

.main {
  height: 90%;
  width: 100%;
  display: none;
}

.description {
  grid-area: description;
  z-index: 900;
  font-size: 1.5rem;
}

#overlay {
  display: none;
  z-index: 1000;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 2;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}
}






